@page {
    size: A4;
    margin: 4mm;
}

* {
    margin: 0.5mm 0mm;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2mm;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
    margin: 0.5mm 0mm;
}

a {
    text-decoration: none;
}

td {
    padding: 0.5mm 0mm;
}
