@page {
    size: A4;
    margin: 5mm;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5mm 3.5mm 0 3.5mm;
}

h1 {
    font-size: 24px;

}

h2 {
    font-size: 20px;
}